In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup as Soup
import pandas as pd
from random import randint
import string
from time import sleep

In [7]:
driver = webdriver.Chrome(ChromeDriverManager().install())
soup = Soup(driver.page_source,"lxml")
driver.get('https://www.franklin.com.tw/Fund/Nav/0750')
html = driver.page_source
soup = Soup(html,'html.parser')
header = soup.find('table', {'class': 'el-table__header'})
header_table = pd.read_html(str(header))
body = soup.find('table', {'class': 'el-table__body'})
body_table = pd.read_html(str(body))
df = body_table[0]
df.set_axis(list(header_table[0].columns[:3]), axis=1,inplace=True)

/var/folders/6f/v4g3dkkj0b54w0sc2l43bkqm0000gn/T/ipykernel_91033/1445626126.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [32]:
df.to_csv('net_worth.csv', encoding='utf-8-sig')
tmp = pd.read_csv('net_worth.csv', index_col=0)
tmp

             日期     淨值  漲跌幅%
0    2022/12/01  19.59  0.82
1    2022/11/30  19.43  0.47
2    2022/11/29  19.34  0.00
3    2022/11/28  19.34 -0.31
4    2022/11/25  19.40  0.05
..          ...    ...   ...
252  2021/12/10  21.44  0.00
253  2021/12/09  21.44 -0.05
254  2021/12/08  21.45 -0.05
255  2021/12/07  21.46  0.52
256  2021/12/06  21.35  0.23

[257 rows x 3 columns]