In [9]:
import pandas as pd

In [10]:
franklin = pd.read_csv('franklin.csv', index_col=0)
yuanta = pd.read_csv('yuanta.csv', index_col=0)
allianz = pd.read_csv('allianz.csv', index_col=0)
jpmorgan = pd.read_csv('jpmorgan.csv', index_col=0)
nomura = pd.read_csv('nomura.csv', index_col=0)

In [11]:
franklin = ['富蘭克林', len(franklin[franklin['漲跌']>0]), len(franklin[franklin['漲跌']<=0])]
yuanta = ['元大', len(yuanta[yuanta['漲跌']>0]), len(yuanta[yuanta['漲跌']<=0])]
allianz = ['安聯', len(allianz[allianz['漲跌']>0]), len(allianz[allianz['漲跌']<=0])]
jpmorgan = ['摩根大通', len(jpmorgan[jpmorgan['漲跌']>0]), len(jpmorgan[jpmorgan['漲跌']<=0])]
nomura = ['野村投信', len(nomura[nomura['漲跌']>0]), len(nomura[nomura['漲跌']<=0])]

new_df = pd.DataFrame(columns=['基金', '漲：數目', '跌：數目'], data=[franklin, yuanta, allianz, jpmorgan, nomura])
new_df.to_csv('漲跌數目.csv', encoding='utf-8-sig')
tmp = pd.read_csv('漲跌數目.csv', index_col=0)
tmp

     基金  漲：數目  跌：數目
0  富蘭克林    70    59
1    元大    19    37
2    安聯    36    58
3  摩根大通    20    18
4  野村投信   121    72

---
---